@import "base-styles.scss";

#nav-container{
    display: flex; 
    margin: 0 auto; 
    width: 100%;  
}

#nav-logo{
    width: 25vw;
    position: relative;
    right: -1.5vw;
    top: -2.5vh;
}
#nav-logo:hover{
    cursor: pointer;
}



#link-cont{
display: flex;
width: 100vw;

}

#link-list{
    display: flex;
    justify-content: center;
    width: 50vw;
    list-style-type: none
}

.nav-link{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family:$primary-font;
    margin-inline: 1.2vw;
    margin-top: -5vh;
    a{
        text-decoration: none;
        color: $primary-color;
    }
    .active{
        text-shadow: 5px 5px 15px $accent-color, 0 0 5em;
    }
}


.nav-link:hover{
    text-shadow: 5px 5px 15px $accent-color, 0 0 5em;
}